// "Modern" theme styling goes here.
// Most themes will import this file after defining variables

.mav-main-view {
  background-color: $gray-accent-3;
}

.mav-data-view {
  .data-view-header {
    .title {
      color: $primary-text;
    }
    .add-data-icon {
      color: $primary;
    }
  }
  .data-view-message {
    color: $secondary-text;
  }
}

.mav-toolbar {
  font-family: $lato;
  color: $gray-accent-3;
  background-color: $black;

  .mav-menu-icon {
    background-color: $secondary;
  }
}

.mav-info-dialog {
  border-color: $border !important;

  .info-header {
    border-bottom-color: $border !important;

    .close-button {
      color: $secondary-text;
    }
  }
  .info-panel-container {
    border-left-color: $border !important;
    border-bottom-color: $border !important;
  }
  .info-footer-container {
    border-top-color: $border !important;
    background-color: $gray-accent-3;
  }
}

.mav-sidenav {
  .expansion-content {
    .button, .link-button {
      color: $secondary-text;
      background-color: $gray-accent-3;
      border-color: $gray-accent-1 !important;
    }

    .button:active, .button:hover, .custom-file-upload:active, .custom-file-upload:hover {
      background: $gray-accent-1;
    }
  }

  .log-toggle {
    .mat-slide-toggle-thumb {
      background-color: $green-500-lightened;
    }
    .mat-slide-toggle-bar {
      background-color: $green-500-30pct-alpha;
    }
  }

  .first-panel:hover, .title:hover {
    background: $gray-accent-3;
  }
}

.mav-visualization-view {
  .visualization-group {
    .selected {
      border-bottom-color: $secondary !important;
    }
    .mat-tab-header {
      border-color: $border;
      background-color: $white;
    }
    .cancel-button {
      color: $primary-text;
    }
  }
  .visualization-container {
    border-color: $border;
    background-color: $white;
  }
  .add-edit-visualization {
    .add-icon, .edit-icon {
      color: $primary;
    }
  }
}

.mav-legend-view {
  .legend-view-group {
    border-color: $border;
    background-color: $gray-accent-2;
  }
  .mav-graphic-variable-legend {
    .graphic-variable-legend-card {
      border-color: $border;
    }
    .graphic-variable-legend-title {
      color: $primary-text;
    }
    .graphic-variable-legend-subtitle {
      color: $secondary-text;
    }
  }
}
