// "Modern" theme styling goes here.
// Most themes will import this file after defining variables

.mat-expansion-indicator::after {
  color: $primary;
}

.mav-main-view {
  background-color: $gray-accent-3;
}

.mav-data-view {
  .data-view-header {
    .title {
      color: $primary-text;
    }
    .add-data-icon {
      color: $primary;
    }
  }
  .data-view-message {
    color: $secondary-text;
  }
}

.mav-toolbar {
  font-family: $lato;
  color: $gray-accent-3;
  background-color: $black;

  .mav-menu-icon {
    background-color: $secondary;
  }
}

.mav-info-icon {
  &.wrapper {
    .info-icon-fill {
      color: $gray-accent-3;
    }
    .info-icon {
      color: $secondary;
    }
  }
}

.mav-info-dialog {
  border-color: $border !important;

  .info-header {
    border-bottom-color: $border !important;

    .close-button {
      color: $secondary-text;
    }
  }
  .info-panel-container {
    border-left-color: $border !important;
    border-bottom-color: $border !important;
  }
  .info-footer-wrapper {
    border-top-color: $border !important;
    background-color: $gray-accent-3;
  }
}

.mav-start-project-options {
  &.container {
    background-color: $primary;

    .start-project-options.wrapper {
      .container {
        .button {
          color: $white;
          border-color: $white !important;
        }
      }
    }
  }
}

.mav-sidenav {
  .expansion-content {
    .button {
      color: $secondary-text;
      background-color: $gray-accent-3;
      border-color: $gray-accent-1 !important;
    }
    .link-button {
      color: $gray-accent-3;
      background-color: $secondary-text;
      border-color: $secondary-text !important;
    }

    .button:active,
    .button:hover,
    .custom-file-upload:active,
    .custom-file-upload:hover {
      background: $gray-accent-1;
    }
  }

  .log-toggle {
    // Note: non-color styling is only in here because of the custom nature of this themed element.
    .mat-slide-toggle-thumb {
      background-color: $white;
      border: 1px solid $gray-accent-1;
    }
    .mat-slide-toggle-bar {
      border: 1px solid $gray-accent-1;
    }

    .mat-slide-toggle-thumb-container {
      top: -4px;
    }

    &.mat-checked .mat-slide-toggle-thumb {
      background-color: $white;
      border: 1px solid $green-500;
    }

    &.mat-checked .mat-slide-toggle-bar {
      background-color: $green-500-30pct-alpha;
      border: 1px solid $green-500;
    }
  }

  .first-panel:hover,
  .title:hover {
    background: $gray-accent-3;
  }
}

.mav-visualization-view {
  &.wrapper {
    .visualization-group {
      .selected {
        border-bottom-color: $secondary !important;
      }
      .mat-tab-header {
        border-color: $gray-accent-1;
        background-color: $white;
      }
      .tab:hover {
        border-bottom-color: $disabled-text !important;
      }
      .label {
        color: $primary-text;
      }
      .cancel-button {
        color: $primary-text;
      }
    }

    .visualization-wrapper {
      .visualization-container {
        border-color: $gray-accent-1;
        background-color: $white;
      }
    }

    .add-edit-visualization {
      .add-icon,
      .edit-icon {
        color: $primary;
      }
    }
  }
}

.about-expansion-panel-header {
  .about-expansion-panel-title-wrapper {
    .about-expansion-panel-title {
      color: $secondary-text;
    }
  }
}

.about-expansion-panel-container {
  border-left-color: $gray-accent-1 !important;
  border-right-color: $gray-accent-1 !important;
  .mat-expansion-panel-content {
    color: $secondary-text !important;
    
    .edit-about-button {
      color : $secondary-text !important;
      border-color: $gray-accent-1 !important;
    }
  }
}

.mav-legend-view {
  .legend-view-group {
    &.container {
      border-color: $gray-accent-1 !important;
      background-color: $gray-accent-2;
    }
  }
  .mav-graphic-variable-legend {
    .title {
      color: $primary-text;
    }
    .subtitle {
      color: $secondary-text;
    }
  }
}

/* colors from table.component.scss */
.mav-table {
  .card {
    border-color: $gray-accent-1;

    .interactive-icon {
      color: $primary;
    }

    .header {
      .label {
        color: $primary-text;
      }

      .description {
        color: $secondary-text;
      }
    }

    .content .table {
      border-top-color: $gray-accent-1;
      border-bottom-color: $gray-accent-1;

      .header-row {
        .header-cell {
          color: $primary-text;

          &.hoverable:hover,
          &.highlight {
            background-color: $highlight-accent-1;
            border-color: $highlight !important;
          }
        }
      }

      .row:nth-child(even) {
        background: $gray-accent-2;
      }
    }

    .footer {
      .mat-paginator-range-label {
        color: $border;
      }

      .mat-icon-button {
        svg {
          fill: $primary;
        }

        &[disabled] svg {
          fill: $gray-400;
        }
      }
    }
  }
}

/* colors from graphic-symbol-type.component.scss */
.graphic-symbol-selection-container {
  .wrapper {
    .graphic-symbol-card {
      &:active {
        background-color: $primary;
        color: $white;
      }
    }
    .record-stream-selected {
      background-color: $primary;
      color: $white;
      border-color: $white !important;
      .graphic-symbol-type {
        color: $gray-accent-1;
      }
    }
  }
}

.record-stream {
  &.container {
    .inner-container {
      border-color: $gray-accent-1 !important;
      background-color: $gray-accent-2;

      &:hover,
      &:active {
        background-color: $highlight-accent-2;
      }
    }
  }
}

/* colors from graphic-variable-type.component.scss */
.graphic-symbol-wrapper {
  .expansion-panel {
    .graphic-variable-wrapper {
      .variable-type {
        color: $gray-300;
      }

      .card-wrapper {
        .data-variable-selected {
          .graphic-variable-label {
            color: $gray-accent-1 !important;
          }
        }

        .highlight {
          background-color: $highlight-accent-1 !important;
          border-color: $highlight !important;

          .graphic-variable-label,
          .data-variable {
            color: $primary-text !important;
          }
        }

        .required-dot {
          background-color: $accent3;
        }

        .card {
          &:active {
            background-color: $primary;
            color: $white;
          }

          .variable-type {
            .graphic-variable-label {
              color: $primary-text;
            }

            .data-variable {
              color: $white;
            }
          }

          .variable-category-qualitative {
            background-color: $accent3;
            color: $white;
          }

          .variable-category-quantitative {
            background-color: $border;
            color: $primary-text;
          }
        }
      }
      .data-variable-selected {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

/* colors from mav-selection/main.component.scss */
.selection-wrapper {
  background-color: $gray-accent-2;
  .expansion-panel-container {
    .expansion-panel {
      background-color: $white;
      .selection-button {
        button {
          color: $primary;
        }
        .disabled {
          color: $gray-accent-1;
        }
      }
    }
  }
}

.visualization-container {
  .temporal-bargraph-tooltip {
    font-family: $tooltip-font !important;
  }

  .tooltip {
    font-family: $tooltip-font !important;
  }
}
