// "Modern" theme styling goes here.
// Most themes will import this file after defining variables

.mat-expansion-indicator::after {
  color: $primary;
}

.mav-main-view {
  background-color: $gray-accent-3;
}

.mav-data-view {
  .data-view-header {
    .title {
      color: $primary-text;
    }
    .add-data-icon {
      color: $primary;
    }
  }
  .data-view-message {
    color: $secondary-text;
  }
}

.mav-toolbar {
  font-family: $lato;
  color: $gray-accent-3;
  background-color: $black;

  .mav-menu-icon {
    background-color: $secondary;
  }  
}

.mav-info-icon-wrapper {
  .info-icon-fill {
    color: $gray-accent-3;
  }
  .mav-info-icon {
    color: $secondary;
  }
}

.mav-info-dialog {
  border-color: $border !important;

  .info-header {
    border-bottom-color: $border !important;

    .close-button {
      color: $secondary-text;
    }
  }
  .info-panel-container {
    border-left-color: $border !important;
    border-bottom-color: $border !important;
  }
  .info-footer-wrapper {
    border-top-color: $border !important;
    background-color: $gray-accent-3;
  }
}

.mav-start-project-options-container {
  background-color: $primary;

  .mav-start-project-options {
    .start-project-options-wrapper {
      .button {
        color: $white;
        border-color: $white !important;
      }
    }
  }
}

.mav-sidenav {
  .expansion-content {
    .button {
      color: $secondary-text;
      background-color: $gray-accent-3;
      border-color: $gray-accent-1 !important;
    }
    .link-button {
      color: $gray-accent-3;
      background-color: $secondary-text;
      border-color: $secondary-text !important;
    }

    .button:active, .button:hover, .custom-file-upload:active, .custom-file-upload:hover {
      background: $gray-accent-1;
    }
  }

  .log-toggle {
    // Note: non-color styling is only in here because of the custom nature of this themed element.
    .mat-slide-toggle-thumb {
      background-color: $white;
      border: 1px solid $green-500;
    }
    .mat-slide-toggle-bar {
      background-color: $green-500-30pct-alpha;;
      border: 1px solid $green-500;
    }
    .mat-slide-toggle-thumb-container {
      top: -4px;
    }
  }

  .first-panel:hover, .title:hover {
    background: $gray-accent-3;
  }
}

.mav-visualization-view {
  .visualization-group {
    .selected {
      border-bottom-color: $secondary !important;
    }
    .mat-tab-header {
      border-color: $border;
      background-color: $white;
    }
    .label {
      color: $primary-text;
    }
    .cancel-button {
      color: $primary-text;
    }
  }
  .visualization-container {
    border-color: $border;
    background-color: $white;
  }
  .add-edit-visualization {
    .add-icon, .edit-icon {
      color: $primary;
    }
  }

  .about-text-short-container {
    border-color: $border !important;
    background-color: $white;

    .about-text-short {
      color: $secondary-text !important;
    }
    .expand-icon {
      color: $primary;
    }
  }
}

.about-text-long-menu {
  border-color: $border !important;

  .about-text-long {
    color: $secondary-text !important;
  }
  .expand-icon {
    color: $primary;
  }
}

.mav-legend-view {
  .legend-view-group {
    border-color: $border;
    background-color: $gray-accent-2;
  }
  .mav-graphic-variable-legend {
    .graphic-variable-legend-card {
      border-color: $border;
    }
    .graphic-variable-legend-title {
      color: $primary-text;
    }
    .graphic-variable-legend-subtitle {
      color: $secondary-text;
    }
  }
}
