// Common colors
$pink-a700: rgba(197, 17, 98, 1);
$blue-600: rgba(30, 136, 339, 1);
$amber-a400: rgba(255, 196, 0, 1);
$teal-400: rgba(38, 166, 154, 1); 
$deeporange-900: rgba(191, 54, 12, 1);
$red-a700: rgba(213, 0, 0, 1);
$yellow-a200: rgba(255, 255, 0, 1);
$green-500: rgba(76, 175, 80, 1);
$green-500-30pct-alpha: rgba(76, 175, 80, 0.3);
$green-500-lightened: #7FE283; // $green-500 lightened 20%

$black-07: rgba(0, 0, 7, 1);
$white-white: rgba(255, 255, 255, 1);
$gray-900: rgba(33, 33, 33, 1);
$gray-600: rgba(117, 117, 117, 1);
$gray-400: rgba(189, 189, 189, 1);
$gray-300: rgba(224, 224, 224, 1);
$gray-100: rgba(245, 245, 245, 1);
$gray-50: rgba(250, 250, 250, 1);
