
@import '../shared/common-colors.scss';

$primary: $blue-600;
$secondary: $pink-a700;

$primary-text: $gray-900;
$secondary-text: $gray-600;
$disabled-text: $gray-400;

$accent1: $amber-a400;
$accent2: $teal-400;
$accent3: $deeporange-900;

$alert: $red-a700;
$highlight: $yellow-a200;
$active: $green-500;

$black: $black-07;
$white: $white-white;
$gray-accent-1: $gray-300;
$gray-accent-2: $gray-100;
$gray-accent-3: $gray-50;
